<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chs.wechat.spy.db.mybatis.mapper.CollectionsMapper">
  <resultMap id="BaseResultMap" type="chs.wechat.spy.db.mybatis.model.Collections">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="col_id" jdbcType="VARCHAR" property="colId" />
    <result column="seq" jdbcType="VARCHAR" property="seq" />
    <result column="times" jdbcType="TIMESTAMP" property="times" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="chs.wechat.spy.db.mybatis.model.Collections">
    <result column="obj" jdbcType="LONGVARBINARY" property="obj" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, col_id, seq, times, type
  </sql>
  <sql id="Blob_Column_List">
    obj
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from collections
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from collections
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="chs.wechat.spy.db.mybatis.model.Collections">
    insert into collections (id, user_id, col_id, 
      seq, times, type, 
      obj)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{colId,jdbcType=VARCHAR}, 
      #{seq,jdbcType=VARCHAR}, #{times,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, 
      #{obj,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="chs.wechat.spy.db.mybatis.model.Collections">
    insert into collections
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="colId != null">
        col_id,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="obj != null">
        obj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="colId != null">
        #{colId,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="obj != null">
        #{obj,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chs.wechat.spy.db.mybatis.model.Collections">
    update collections
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="colId != null">
        col_id = #{colId,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="obj != null">
        obj = #{obj,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="chs.wechat.spy.db.mybatis.model.Collections">
    update collections
    set user_id = #{userId,jdbcType=VARCHAR},
      col_id = #{colId,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      times = #{times,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      obj = #{obj,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="chs.wechat.spy.db.mybatis.model.Collections">
    update collections
    set user_id = #{userId,jdbcType=VARCHAR},
      col_id = #{colId,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      times = #{times,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>