<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chs.wechat.spy.mybatis.mapper.ContactMapper">
  <resultMap id="BaseResultMap" type="chs.wechat.spy.mybatis.model.Contact">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="contract_id" jdbcType="VARCHAR" property="contract_id" />
    <result column="contract_name" jdbcType="VARCHAR" property="contract_name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="stranger" jdbcType="VARCHAR" property="stranger" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="add_source" jdbcType="VARCHAR" property="add_source" />
    <result column="small_head_url" jdbcType="VARCHAR" property="small_head_url" />
    <result column="big_head_url" jdbcType="VARCHAR" property="big_head_url" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    <result column="small_head" jdbcType="LONGVARBINARY" property="small_head" />
    <result column="big_head" jdbcType="LONGVARBINARY" property="big_head" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, contract_id, contract_name, remark, loc, sex, stranger, signature, add_source, 
    small_head_url, big_head_url
  </sql>
  <sql id="Blob_Column_List">
    small_head, big_head
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contact
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contact
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    insert into contact (id, user_id, contract_id, 
      contract_name, remark, loc, 
      sex, stranger, signature, 
      add_source, small_head_url, big_head_url, 
      small_head, big_head)
    values (#{id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{contract_id,jdbcType=VARCHAR}, 
      #{contract_name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{stranger,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{add_source,jdbcType=VARCHAR}, #{small_head_url,jdbcType=VARCHAR}, #{big_head_url,jdbcType=VARCHAR}, 
      #{small_head,jdbcType=LONGVARBINARY}, #{big_head,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="contract_id != null">
        contract_id,
      </if>
      <if test="contract_name != null">
        contract_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="loc != null">
        loc,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="stranger != null">
        stranger,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="add_source != null">
        add_source,
      </if>
      <if test="small_head_url != null">
        small_head_url,
      </if>
      <if test="big_head_url != null">
        big_head_url,
      </if>
      <if test="small_head != null">
        small_head,
      </if>
      <if test="big_head != null">
        big_head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_id != null">
        #{contract_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_name != null">
        #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="stranger != null">
        #{stranger,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="add_source != null">
        #{add_source,jdbcType=VARCHAR},
      </if>
      <if test="small_head_url != null">
        #{small_head_url,jdbcType=VARCHAR},
      </if>
      <if test="big_head_url != null">
        #{big_head_url,jdbcType=VARCHAR},
      </if>
      <if test="small_head != null">
        #{small_head,jdbcType=LONGVARBINARY},
      </if>
      <if test="big_head != null">
        #{big_head,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    update contact
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_id != null">
        contract_id = #{contract_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_name != null">
        contract_name = #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="stranger != null">
        stranger = #{stranger,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="add_source != null">
        add_source = #{add_source,jdbcType=VARCHAR},
      </if>
      <if test="small_head_url != null">
        small_head_url = #{small_head_url,jdbcType=VARCHAR},
      </if>
      <if test="big_head_url != null">
        big_head_url = #{big_head_url,jdbcType=VARCHAR},
      </if>
      <if test="small_head != null">
        small_head = #{small_head,jdbcType=LONGVARBINARY},
      </if>
      <if test="big_head != null">
        big_head = #{big_head,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    update contact
    set user_id = #{user_id,jdbcType=VARCHAR},
      contract_id = #{contract_id,jdbcType=VARCHAR},
      contract_name = #{contract_name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      stranger = #{stranger,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      add_source = #{add_source,jdbcType=VARCHAR},
      small_head_url = #{small_head_url,jdbcType=VARCHAR},
      big_head_url = #{big_head_url,jdbcType=VARCHAR},
      small_head = #{small_head,jdbcType=LONGVARBINARY},
      big_head = #{big_head,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="chs.wechat.spy.mybatis.model.Contact">
    update contact
    set user_id = #{user_id,jdbcType=VARCHAR},
      contract_id = #{contract_id,jdbcType=VARCHAR},
      contract_name = #{contract_name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      stranger = #{stranger,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      add_source = #{add_source,jdbcType=VARCHAR},
      small_head_url = #{small_head_url,jdbcType=VARCHAR},
      big_head_url = #{big_head_url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="chs.wechat.spy.mybatis.model.Contact">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="contract_id" jdbcType="VARCHAR" property="contract_id" />
    <result column="contract_name" jdbcType="VARCHAR" property="contract_name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="stranger" jdbcType="VARCHAR" property="stranger" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="add_source" jdbcType="VARCHAR" property="add_source" />
    <result column="small_head_url" jdbcType="VARCHAR" property="small_head_url" />
    <result column="big_head_url" jdbcType="VARCHAR" property="big_head_url" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    <result column="small_head" jdbcType="LONGVARBINARY" property="small_head" />
    <result column="big_head" jdbcType="LONGVARBINARY" property="big_head" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, contract_id, contract_name, remark, loc, sex, stranger, signature, add_source, 
    small_head_url, big_head_url
  </sql>
  <sql id="Blob_Column_List">
    small_head, big_head
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contact
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contact
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    insert into contact (id, user_id, contract_id, 
      contract_name, remark, loc, 
      sex, stranger, signature, 
      add_source, small_head_url, big_head_url, 
      small_head, big_head)
    values (#{id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{contract_id,jdbcType=VARCHAR}, 
      #{contract_name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{stranger,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{add_source,jdbcType=VARCHAR}, #{small_head_url,jdbcType=VARCHAR}, #{big_head_url,jdbcType=VARCHAR}, 
      #{small_head,jdbcType=LONGVARBINARY}, #{big_head,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="contract_id != null">
        contract_id,
      </if>
      <if test="contract_name != null">
        contract_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="loc != null">
        loc,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="stranger != null">
        stranger,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="add_source != null">
        add_source,
      </if>
      <if test="small_head_url != null">
        small_head_url,
      </if>
      <if test="big_head_url != null">
        big_head_url,
      </if>
      <if test="small_head != null">
        small_head,
      </if>
      <if test="big_head != null">
        big_head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_id != null">
        #{contract_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_name != null">
        #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="stranger != null">
        #{stranger,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="add_source != null">
        #{add_source,jdbcType=VARCHAR},
      </if>
      <if test="small_head_url != null">
        #{small_head_url,jdbcType=VARCHAR},
      </if>
      <if test="big_head_url != null">
        #{big_head_url,jdbcType=VARCHAR},
      </if>
      <if test="small_head != null">
        #{small_head,jdbcType=LONGVARBINARY},
      </if>
      <if test="big_head != null">
        #{big_head,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    update contact
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_id != null">
        contract_id = #{contract_id,jdbcType=VARCHAR},
      </if>
      <if test="contract_name != null">
        contract_name = #{contract_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="stranger != null">
        stranger = #{stranger,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="add_source != null">
        add_source = #{add_source,jdbcType=VARCHAR},
      </if>
      <if test="small_head_url != null">
        small_head_url = #{small_head_url,jdbcType=VARCHAR},
      </if>
      <if test="big_head_url != null">
        big_head_url = #{big_head_url,jdbcType=VARCHAR},
      </if>
      <if test="small_head != null">
        small_head = #{small_head,jdbcType=LONGVARBINARY},
      </if>
      <if test="big_head != null">
        big_head = #{big_head,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="chs.wechat.spy.mybatis.model.ContactWithBLOBs">
    update contact
    set user_id = #{user_id,jdbcType=VARCHAR},
      contract_id = #{contract_id,jdbcType=VARCHAR},
      contract_name = #{contract_name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      stranger = #{stranger,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      add_source = #{add_source,jdbcType=VARCHAR},
      small_head_url = #{small_head_url,jdbcType=VARCHAR},
      big_head_url = #{big_head_url,jdbcType=VARCHAR},
      small_head = #{small_head,jdbcType=LONGVARBINARY},
      big_head = #{big_head,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="chs.wechat.spy.mybatis.model.Contact">
    update contact
    set user_id = #{user_id,jdbcType=VARCHAR},
      contract_id = #{contract_id,jdbcType=VARCHAR},
      contract_name = #{contract_name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      stranger = #{stranger,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      add_source = #{add_source,jdbcType=VARCHAR},
      small_head_url = #{small_head_url,jdbcType=VARCHAR},
      big_head_url = #{big_head_url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>