<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chs.wechat.spy.db.mybatis.mapper.ContactMapper">
    <resultMap id="BaseResultMap" type="chs.wechat.spy.db.mybatis.model.Contact">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="contact_id" jdbcType="VARCHAR" property="contactId"/>
        <result column="contact_name" jdbcType="VARCHAR" property="contactName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="loc" jdbcType="VARCHAR" property="loc"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="stranger" jdbcType="VARCHAR" property="stranger"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="add_source" jdbcType="VARCHAR" property="addSource"/>
        <result column="uin" jdbcType="VARCHAR" property="uin"/>
        <result column="small_head_url" jdbcType="VARCHAR" property="smallHeadUrl"/>
        <result column="big_head_url" jdbcType="VARCHAR" property="bigHeadUrl"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="chs.wechat.spy.db.mybatis.model.ContactWithBLOBs">
        <result column="small_head" jdbcType="LONGVARBINARY" property="smallHead"/>
        <result column="big_head" jdbcType="LONGVARBINARY" property="bigHead"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, contact_id, contact_name, remark, loc, sex, stranger, signature, add_source,
        uin, small_head_url, big_head_url
    </sql>
    <sql id="Blob_Column_List">
        small_head, big_head
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from contact
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="truncate">
        truncate table contact
    </delete>
    <select id="getContactById" parameterType="Map" resultType="java.lang.String">
        select id
        from contact
        where contact_id = '${contact_id}'
          AND user_id = '${user_id}'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from contact
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="chs.wechat.spy.db.mybatis.model.ContactWithBLOBs">
        insert into contact (id, user_id, contact_id,
                             contact_name, remark, loc,
                             sex, stranger, signature,
                             add_source, uin, small_head_url,
                             big_head_url, small_head, big_head)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{contactId,jdbcType=VARCHAR},
                #{contactName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR},
                #{sex,jdbcType=INTEGER}, #{stranger,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR},
                #{addSource,jdbcType=VARCHAR}, #{uin,jdbcType=VARCHAR}, #{smallHeadUrl,jdbcType=VARCHAR},
                #{bigHeadUrl,jdbcType=VARCHAR}, #{smallHead,jdbcType=LONGVARBINARY}, #{bigHead,jdbcType=LONGVARBINARY})
    </insert>
    <insert id="insertSelective" parameterType="chs.wechat.spy.db.mybatis.model.ContactWithBLOBs">
        insert into contact
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="contactId != null">
                contact_id,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="loc != null">
                loc,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="stranger != null">
                stranger,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="addSource != null">
                add_source,
            </if>
            <if test="uin != null">
                uin,
            </if>
            <if test="smallHeadUrl != null">
                small_head_url,
            </if>
            <if test="bigHeadUrl != null">
                big_head_url,
            </if>
            <if test="smallHead != null">
                small_head,
            </if>
            <if test="bigHead != null">
                big_head,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="contactId != null">
                #{contactId,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="loc != null">
                #{loc,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="stranger != null">
                #{stranger,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="addSource != null">
                #{addSource,jdbcType=VARCHAR},
            </if>
            <if test="uin != null">
                #{uin,jdbcType=VARCHAR},
            </if>
            <if test="smallHeadUrl != null">
                #{smallHeadUrl,jdbcType=VARCHAR},
            </if>
            <if test="bigHeadUrl != null">
                #{bigHeadUrl,jdbcType=VARCHAR},
            </if>
            <if test="smallHead != null">
                #{smallHead,jdbcType=LONGVARBINARY},
            </if>
            <if test="bigHead != null">
                #{bigHead,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="chs.wechat.spy.db.mybatis.model.ContactWithBLOBs">
        update contact
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="contactId != null">
                contact_id = #{contactId,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="loc != null">
                loc = #{loc,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="stranger != null">
                stranger = #{stranger,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="addSource != null">
                add_source = #{addSource,jdbcType=VARCHAR},
            </if>
            <if test="uin != null">
                uin = #{uin,jdbcType=VARCHAR},
            </if>
            <if test="smallHeadUrl != null">
                small_head_url = #{smallHeadUrl,jdbcType=VARCHAR},
            </if>
            <if test="bigHeadUrl != null">
                big_head_url = #{bigHeadUrl,jdbcType=VARCHAR},
            </if>
            <if test="smallHead != null">
                small_head = #{smallHead,jdbcType=LONGVARBINARY},
            </if>
            <if test="bigHead != null">
                big_head = #{bigHead,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="chs.wechat.spy.db.mybatis.model.ContactWithBLOBs">
        update contact
        set user_id        = #{userId,jdbcType=VARCHAR},
            contact_id     = #{contactId,jdbcType=VARCHAR},
            contact_name   = #{contactName,jdbcType=VARCHAR},
            remark         = #{remark,jdbcType=VARCHAR},
            loc            = #{loc,jdbcType=VARCHAR},
            sex            = #{sex,jdbcType=INTEGER},
            stranger       = #{stranger,jdbcType=VARCHAR},
            signature      = #{signature,jdbcType=VARCHAR},
            add_source     = #{addSource,jdbcType=VARCHAR},
            uin            = #{uin,jdbcType=VARCHAR},
            small_head_url = #{smallHeadUrl,jdbcType=VARCHAR},
            big_head_url   = #{bigHeadUrl,jdbcType=VARCHAR},
            small_head     = #{smallHead,jdbcType=LONGVARBINARY},
            big_head       = #{bigHead,jdbcType=LONGVARBINARY}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="chs.wechat.spy.db.mybatis.model.Contact">
        update contact
        set user_id        = #{userId,jdbcType=VARCHAR},
            contact_id     = #{contactId,jdbcType=VARCHAR},
            contact_name   = #{contactName,jdbcType=VARCHAR},
            remark         = #{remark,jdbcType=VARCHAR},
            loc            = #{loc,jdbcType=VARCHAR},
            sex            = #{sex,jdbcType=INTEGER},
            stranger       = #{stranger,jdbcType=VARCHAR},
            signature      = #{signature,jdbcType=VARCHAR},
            add_source     = #{addSource,jdbcType=VARCHAR},
            uin            = #{uin,jdbcType=VARCHAR},
            small_head_url = #{smallHeadUrl,jdbcType=VARCHAR},
            big_head_url   = #{bigHeadUrl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>